<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="editBasic">
    <div class="row">
        <div class="col-lg-4 col-md-5">
            <table>
                <tr>
                    <td>License plate:</td>
                    <td>ABC123456789</td>
                </tr>
                <tr>
                    <td>Brand name:</td>
                    <td>Audi</td>
                </tr>
                <tr>
                    <td>Production year:</td>
                    <td>2022</td>
                </tr>
                <tr>
                    <td>Transmission:</td>
                    <td>ABCDEF</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4 col-md-5">
            <table>
                <tr>
                    <td>Color:</td>
                    <td>Red</td>
                </tr>
                <tr>
                    <td>Model:</td>
                    <td>2002</td>
                </tr>
                <tr>
                    <td>No. of seats:</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Fuel</td>
                    <td>Gasoline</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-8">
            <p>Documents:</p>
            <table class="table table-striped document">
                <thead>
                <tr class="table-active">
                    <th>No</th>
                    <th>Name</th>
                    <th>Note</th>
                    <th>Link</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Registration paper</td>
                    <td>Verified</td>
                    <td>
                        <a href="#">File1.PDF</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Certificate of Inspection</td>
                    <td>Verified</td>
                    <td>
                        <a href="#">File2.PDF</a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Insurance</td>
                    <td>Not available</td>
                    <td>Not available</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>