<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" th:href="@{css/Car_Owner/Step1_Basic.css}">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>-->
<!--    <script src="https://kit.fontawesome.com/2465434fef.js" crossorigin="anonymous"></script>-->
</head>
<body>
        <div th:fragment="basic">
            <div class="basic">
                <p class="note mt-3">Note: Please check your information carefully, you'll not be able to change the basic
                    details of your car, which is based on the registration information</p>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="license">License plate: <sup>*</sup></label>
                        <input type="text" class="form-control" id="license" name="license">
                        <small class="warning-text" id="license-warning" style="display: none">*License plate is required</small>
                        <small class="warning-text" id="license-link-warning" style="display: none">*License plate must be a link</small>
                    </div>

                    <div class="form-group col-sm-6">
                        <label for="color">Color: <sup>*</sup></label>
                        <select name="color" id="color" class="form-control">
                            <option value="">Choose color</option>
                        </select>
                        <small class="warning-text" id="color-warning" style="display: none">*Color is required</small>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="brand">Brand name: <sup>*</sup></label>
                        <select name="brand" id="brand" class="form-control">
                            <option value="">Choose brand</option>
                            <option value="Audi">Audi</option>
                            <option value="Mercedes">Mercedes</option>
                            <option value="Lamborghini">Lamborghini</option>
                            <option value="Ford">Ford</option>
                        </select>
                        <small class="warning-text" id="brand-warning" style="display: none">*Brand is required</small>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="model">Model: <sup>*</sup></label>
                        <select name="model" id="model" class="form-control">
                            <option value="">Choose Model</option>
                        </select>
                        <small class="warning-text" id="model-warning" style="display: none">*Model is required</small>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="product-year">Production year: <sup>*</sup></label>
                        <select name="production-year" id="product-year" class="form-control">
                            <option value="">Choose year</option>
                        </select>
                        <small class="warning-text" id="production-year-warning" style="display: none">*Production year is required</small>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="seat-number">No. of seats: <sup>*</sup></label>
                        <select name="seat-number" id="seat-number" class="form-control">
                            <option value="">Choose No. of seats</option>
                        </select>
                        <small class="warning-text" id="seat-number-warning" style="display: none">*Seat number is required</small>
                    </div>
                    <div class="form-group col-sm-6">
                        <p>Transmission: <sup>*</sup></p>
                        <span class="btn automatic" data-value="automatic">Automatic</span>
                        <span class="btn manual" data-value="manual">Manual</span>
                        <input type="hidden" name="transmission" id="transmission" value="">
                        <small class="warning-text" id="transmission-warning" style="display: none">*Transmission is required</small>
                    </div>
                    <div class="form-group col-sm-6">
                        <p>Fuel: <sup>*</sup></p>
                        <span class="btn gasoline" data-value="gasoline">Gasoline</span>
                        <span class="btn diesel" data-value="diesel">Diesel</span>
                        <input type="hidden" name="fuel" id="fuel" value="">
                        <small class="warning-text" id="fuel-warning" style="display: none">*Fuel is required</small>
                    </div>
                </div>
                <div>
                    <p class="document">Documents</p>
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-4">
                            <p>Registration paper: <sup>*</sup></p>
                            <input type="file" style="display: none" class="upload-default" accept=".doc, .docx, .pdf, .jpg, .jpeg, .png">
                            <div class="upload-file">
                                <i class="fa-solid fa-upload"></i>
                                <p>Drag and drop</p>
                                <p>OR</p>
                                <p>Select file</p>
                            </div>
                            <button type="button" class="remove-document-button" style="display: none">x</button>
                            <span class="uploaded-file"></span>
                            <small class="documentErrorMessage" style="display: none">Only accept doc, .docx, .pdf, .jpg , .jpeg , .png</small>
                            <small class="warning-text" id="registration-warning" style="display: none">*Registration is required</small>
                        </div>
                        <div class="form-group col-md-6 col-lg-4">
                            <p>Certificate of inspection: <sup>*</sup></p>
                            <input type="file" style="display: none" class="upload-default" accept=".doc, .docx, .pdf, .jpg, .jpeg, .png">
                            <div class="upload-file">
                                <i class="fa-solid fa-upload"></i>
                                <p>Drag and drop</p>
                                <p>OR</p>
                                <p>Select file</p>
                            </div>
                            <button type="button" class="remove-document-button" style="display: none">x</button>
                            <span class="uploaded-file"></span>
                            <small class="documentErrorMessage" style="display: none">Only accept doc, .docx, .pdf, .jpg , .jpeg , .png</small>
                            <small class="warning-text" id="certificate-warning" style="display: none">*Certificate is required</small>
                        </div>
                        <div class="form-group col-md-6 col-lg-4">
                            <p>Insurance: <sup>*</sup></p>
                            <input type="file" style="display: none" class="upload-default" accept=".doc, .docx, .pdf, .jpg, .jpeg, .png">
                            <div class="upload-file">
                                <i class="fa-solid fa-upload"></i>
                                <p>Drag and drop</p>
                                <p>OR</p>
                                <p>Select file</p>
                            </div>
                            <button type="button" class="remove-document-button" style="display: none">x</button>
                            <span class="uploaded-file"></span>
                            <small class="documentErrorMessage" style="display: none">Only accept doc, .docx, .pdf, .jpg , .jpeg , .png</small>
                            <small class="warning-text" id="insurance-warning" style="display: none">*Insurance is required</small>
                        </div>
                    </div>
                    <p>File type: doc, .docx, .pdf, .jpg , .jpeg , .png</p>
                </div>
            </div>
            <script th:src="@{/js/Step1_Basic.js}"></script>
        </div>
</body>
</html>