label {
    display: block;
    font-weight: bold;
}
sup {
    color: red;
}
.form-check label {
    font-weight: normal;
}

.form-group .mileage {
    width: 30%;
}
.detail .form-group .btn {
    background-color: #eeeeee;
    padding: 0.375rem 0.75rem;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.detail .row:nth-of-type(1) {
    padding-left: 0;
}
.detail .add-function {
    padding-left: 0;
}
.form-group {
    width: 80%;
    margin-top: 32px;
}
.col-sm-6 .fuel-consumption {
    display: inline-block;
    width: 15%;
    margin-right: 3%;
    margin-left: 0;
}
.input-group {
    width: 100%;
}
input, select {
    margin-left: 5%;
}
.form-control {
    width: 95%;
}
.form-check label {
    display: inline-block;
    width: 80%;
}
.form-check-input {
    margin-left: 1%;
}
.form-check-container {
    width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 5%;
    margin: auto;
    margin-top: 8px;
}
@media (max-width: 850px){
    .form-check {
        padding-left: 0;
    }
}
@media (max-width: 576px){
    .col-sm-6 .fuel-consumption {
        margin-left: 5%;
    }
    textarea {
        margin-left: 5%;
    }
}
/*Upload*/
.upload-file {
    width: 80%;
    height: 200px;
    border: 1px dashed #000000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.upload-file i {
    font-size: 50px;
}
.upload-file p {
    font-weight: normal;
    margin: 0;
    font-size: 14px;
}
.upload-file p:nth-of-type(1){
    margin-top: 5px;
}
.upload-file p:nth-of-type(3){
    color: #5285d2;
    text-decoration: underline;
}
.upload-file:hover {
    cursor: pointer;
}
.upload-container{
    margin-left: 5%;
}
.row .col-sm-6:nth-of-type(1) .upload-container, .row .col-sm-6:nth-of-type(2) .upload-container  {
    margin-top: 0;
}
.row .col-sm-6:nth-of-type(3) .upload-container, .row .col-sm-6:nth-of-type(4) .upload-container  {
    margin-top: 24px;
}
.detail>p:nth-of-type(n+1){
    font-weight: normal;
    margin-bottom: 0;
    font-size: 14px;
    margin-left: 2%;
}
.dragover {
    width: 100%;
}
@media (max-width: 576px) {
    .row .col-sm-6:nth-of-type(2) .upload-container  {
        margin-top: 24px;
    }
}