<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragment</title>
</head>
<body>
<!-- Header Fragment -->
<div th:fragment="header">
    <div id="title-main">
        <div class="title-main-left">
            <i class="fa-solid fa-car"></i>
            <h1>Rent a car today!</h1>
        </div>
        <div class="title-main-right">
            <div class="divider"></div>
            <a id="about-us" href="#">ABOUT US</a>
            <div class="divider"></div>
            <div id="user-menu-toggle">
                <p>Welcome</p>
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div id="mega-menu" class="hidden">
                <a th:href="@{/my-profile}">
                    <p>My profile</p>
                </a>
                <a href="#">
                    <p>My Bookings</p>
                </a>
                <a href="#">
                    <p>My wallet</p>
                </a>
                <form th:action="@{/logout}" method="post" id="logoutForm">
                    <a href="#" onclick="document.getElementById('logoutForm').submit();">
                        <p>Log out</p>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Footer Fragment -->
<div th:fragment="footer">
    <div class="footer">
        <div class="footer-section">
            <h3>RENT CARS</h3>
            <ul>
                <li><a href="/Homepage"><span style="font-size: 1.4em">Search Cars and Rates</span></a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>CUSTOMER ACCESS</h3>
            <ul>
                <li><a th:href="@{booking-view}"><span style="font-size: 1.4em">Manage My Booking</span></a></li>
                <li><a th:href="@{/myWallet}"><span style="font-size: 1.4em">My Wallet</span></a></li>
                <li><a href="#"><span style="font-size: 1.4em">My Car</span></a></li>
                <li><a th:href="@{/login}"><span style="font-size: 1.4em">Log In</span></a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>JOIN US</h3>
            <ul>
                <li><a th:href="@{/logout}"><span style="font-size: 1.4em">New User Sign Up</span></a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
