<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent a Car</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css" rel="stylesheet">
    <link href="https://cdn.rawgit.com/westonganger/bootstrap-directional-buttons/master/dist/bootstrap-directional-buttons.css"
          rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{css/header.css}">
    <style>
        .input-wrapper {
            position: relative;
        }

        .input-wrapper i {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            color: #333;
        }

        .form-control {
            padding-right: 40px;
        }

        h5 {
            font-weight: bold;
            margin-top: 25px;
        }

        p {
            font-size: 20px;
            color: #6c757d;
        }

        label {
            padding-left: 5px;
            font-size: 25px;
            margin-bottom: 15px;
        }

        .option:hover {
            background-color: #f2f2f2;
            transform: scale(1.1);
        }

        .star-rating {
            font-size: 1.5em;
            color: #ddd;
            cursor: pointer;
        }

        .star-rating.checked {
            color: gold;
        }
    </style>
</head>
<body>
<!-- Include Header Fragment -->
<div th:replace="fragments/fragment :: header"></div>

<main style="margin-bottom: 30px">
    <section>
        <nav aria-label="breadcrumb" style="padding: 10px;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Search Results</a></li>
            </ol>
        </nav>
    </section>
    <div style="background-color: #333333; padding: 30px; color: white; display: flex">
        <!-- Booking Details -->
        <div class="card-body">
            <h1 class="card-title" style="margin-bottom: 40px">Booking Details</h1>
            <ul style="margin-left: 120px">
                <li><strong style="font-size: x-large">Pick-up location: </strong><span style="font-size: 1.2em">Trung Kinh, Cau Giay, Ha Noi</span>
                </li>
                <li style="margin-top: 20px"><strong style="font-size: x-large">Pick up date and time: </strong><span
                        style="font-size: 1.2em">13/02/2022 - 12:00 PM</span></li>
                <li style="margin-top: 20px"><strong style="font-size: x-large">Return date and time: </strong><span
                        style="font-size: 1.2em">23/02/2022 - 14:00 PM</span></li>
            </ul>
        </div>
        <div class="option" data-value="#" style="background-color: #333333; padding-top: 30px;">
            <i class="fa-solid fa-pen-to-square" style="font-size: 40px"></i>
            <span style="font-size: 30px; margin-left: 10px">Change Details</span>
        </div>
    </div>
    <section class="container mt-4" style="margin-top: 10px; margin-bottom: 10px">
        <!-- Tabs for navigation -->
        <ul class="nav nav-tabs" id="carDetailsTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link disabled" href="#"><span style="font-size: 1.2em">Step 1: Booking Information</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#"><span style="font-size: 1.2em">Step 2: Payment</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#"><span style="font-size: 1.2em">Step 3: Finish</span></a>
            </li>
        </ul>
        <div class="tab-content p-3 border border-top-0" id="carDetailsTabContent">
            <div class="tab-pane fade show active" id="basic-info" role="tabpanel" aria-labelledby="details-tab">
                <div class="row">
                    <!-- Car Information -->
                    <div class="col-md-6 d-flex">
                        <div class="card w-100">
                            <div class="row g-0">
                                <div>
                                    <img src="https://s3.cloud.cmctelecom.vn/nhattao1/2017/03/8062309_9889e4939ea64ed184fcc96158b76133.jpg"
                                         class="d-block w-100 img-custom" alt="Image 1"style="max-width: 90%; margin-left:16px; margin-top:20px; margin-right:10px">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h3 class="card-title" style="margin-bottom: 20px">Nissan Navara El 2017</h3>
                                        <p class="card-text">
                                            <strong>Ratings:</strong>
                                            <span class="fa fa-star star-rating" data-card="1" data-rating="1"></span>
                                            <span class="fa fa-star star-rating" data-card="1" data-rating="2"></span>
                                            <span class="fa fa-star star-rating" data-card="1" data-rating="3"></span>
                                            <span class="fa fa-star star-rating" data-card="1" data-rating="4"></span>
                                            <span class="fa fa-star star-rating" data-card="1" data-rating="5"></span>
                                            <span class="no-ratings-text" data-card="1">(No ratings yet)</span>
                                        </p>
                                        <p class="card-text"><strong>No. of rides:</strong> 0</p>
                                        <p class="card-text"><strong>Price:</strong> 900k/day</p>
                                        <p class="card-text"><strong>Locations:</strong> Cau Giay, Hanoi</p>
                                        <p class="card-text"><strong>Status:</strong> <span class="text-success">Available</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Booking Summary -->
                    <div class="col-md-6 d-flex">
                        <div class="card w-100">
                            <div class="card-body">
                                <h3 class="card-title" style="margin-bottom: 20px">Booking Summary</h3>
                                <p class="card-text"><strong>Number of days:</strong> 15</p>
                                <p class="card-text"><strong>Price per day:</strong> 900,000 VND</p>
                                <hr>
                                <p class="card-text"><strong>Total:</strong> 13,500,000 VND</p>
                                <p class="card-text"><strong>Deposit:</strong> 15,000,000 VND</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-12">
                        <h1 style="margin-bottom: 20px">Please select your payment method</h1>
                        <form action="#" method="POST" style="margin-left: 50px">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="paymentMethod" id="wallet" value="wallet" style="margin-top: 15px">
                                <label class="form-check-label" for="wallet" style="margin-bottom: 15px; font-size: 30px">
                                    My wallet
                                </label>
                                <div class="ml-4">
                                    <span style="font-size: 20px; margin-left: 20px">Current balance: <strong style="color: green;">20,000,000 VND</strong></span>
                                </div>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="paymentMethod" id="cash" value="cash" style="margin-top: 38px">
                                <label class="form-check-label" for="cash" style="margin-bottom: 15px; font-size: 30px; margin-top: 20px">
                                    Cash
                                </label>
                                <div class="ml-4">
                                    <span style="font-size: 20px; margin-left: 20px">Our operator will contact you for further instruction</span>
                                </div>
                            </div>

                            <div class="form-check" style="margin-bottom: 30px">
                                <input class="form-check-input" type="radio" name="paymentMethod" id="bankTransfer" value="bankTransfer" style="margin-top: 38px">
                                <label class="form-check-label" for="bankTransfer" style="margin-bottom: 15px; font-size: 30px; margin-top: 20px">
                                    Bank transfer
                                </label>
                                <div class="ml-4">
                                    <span style="font-size: 20px; margin-left: 20px">Our operator will contact you for further instruction</span>
                                </div>
                            </div>

                            <div class="mt-4 text-center">
                                <button type="button" class="btn btn-secondary"><span style="font-size: 20px; padding: 5px">Cancel</span></button>
                                <button type="submit" class="btn btn-primary"><span style="font-size: 20px; padding: 5px">Confirm payment</span></button>
                            </div>
                            <div class="mt-4 text-center">
                                <span style="margin-right: 22px">* The deposit amount will be deducted from your wallet.</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Include Footer Fragment -->
<div th:replace="fragments/fragment :: footer"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script>
    $(document).ready(function () {
        // Initialize datepickers
        $('#pickupDate').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true
        });

        $('#dropoffDate').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true
        });

        // Initialize timepickers
        $('#pickupTime').timepicker({
            timeFormat: 'HH:mm',
            interval: 30, // Cách nhau 30 phút
            minTime: '00:00am',
            maxTime: '11:59pm',
            defaultTime: 'HH:mm',
            startTime: '00:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });

        $('#dropoffTime').timepicker({
            timeFormat: 'HH:mm',
            interval: 30, // Cách nhau 30 phút
            minTime: '00:00am',
            maxTime: '11:59pm',
            defaultTime: 'HH:mm',
            startTime: '00:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });

        // Datepicker triggers
        $('.bx-calendar').on('click', function () {
            $(this).closest('.input-wrapper').find('input').datepicker('show');
        });

        // Timepicker triggers
        $('.bx-time').on('click', function () {
            $(this).closest('.input-wrapper').find('input').timepicker('show');
        });
    });
</script>
<script>
    const optionMenu = document.querySelector(".select-menu"),
        selectBtn = optionMenu.querySelector(".select-btn"),
        options = optionMenu.querySelectorAll(".option"),
        sBtn_text = optionMenu.querySelector(".sBtn-text");

    selectBtn.addEventListener("click", () => optionMenu.classList.toggle("active"));

    options.forEach(option => {
        option.addEventListener("click", () => {
            let selectedOption = option.querySelector(".option-text").innerText;
            sBtn_text.innerText = selectedOption;

            // Change the page location based on the selected option
            let value = option.getAttribute("data-value");
            if (value) {
                location.href = value;
            }

            optionMenu.classList.remove("active");
        });
    });
</script>
<script>
    const optionElements = document.querySelectorAll(".option");

    // Add click event to the element
    optionElements.forEach(option => {
        option.addEventListener("click", () => {
            // Get the data-value attribute of the clicked element
            let value = option.getAttribute("data-value");
            if (value) {
                // Redirect to the URL or data-value
                location.href = value;
            }
            // Toggle the active class of the clicked element
            option.classList.toggle("active");
        });
    });
</script>
<script>
    document.querySelectorAll('.star-rating').forEach(function (star) {
        star.addEventListener('click', function () {
            var card = this.getAttribute('data-card');
            var rating = parseInt(this.getAttribute('data-rating'));

            // Xóa lớp 'checked' của tất cả ngôi sao trong card hiện tại
            document.querySelectorAll('.star-rating[data-card="' + card + '"]').forEach(function (star) {
                star.classList.remove('checked');
            });

            // Thêm lớp 'checked' cho các ngôi sao đến ngôi sao được chọn trong card hiện tại
            for (var i = 1; i <= rating; i++) {
                document.querySelector('.star-rating[data-card="' + card + '"][data-rating="' + i + '"]').classList.add('checked');
            }

            // Ẩn hoặc hiện thẻ (No ratings yet)
            var noRatingsText = document.querySelector('.no-ratings-text[data-card="' + card + '"]');
            if (rating > 0) {
                noRatingsText.style.display = 'none';
            } else {
                noRatingsText.style.display = 'inline';
            }
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
