<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent a Car</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{css/header.css}">
    <style>
        .input-wrapper {
            position: relative;
        }

        .input-wrapper i {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            color: #333;
        }

        .form-control {
            padding-right: 40px;
        }

        h5 {
            font-weight: bold;
            margin-top: 25px;
        }

        p {
            font-size: 20px;
            color: #6c757d;
        }

        .items-per-page {
            display: flex;
            align-items: center;
            font-family: Arial, sans-serif;
            margin-bottom: 15px;
        }

        label {
            padding-left: 5px;
            font-size: 25px;
            margin-bottom: 15px;
        }

        th, td {
            padding: 15px;
            font-size: 18px;
            text-align: center;
        }

        .btn {
            font-size: 16px;
            padding: 10px 20px;
            width: 100%;
        }

        .star-rating {
            color: #d3d3d3; /* Default star color */
            font-size: 24px;
        }

        .star-rating.checked {
            color: #ffcc00; /* Color for checked stars */
        }
    </style>
</head>
<body>
<!-- Include Header Fragment -->
<div th:replace="fragments/fragment :: header"></div>

<main>
    <section>
        <nav aria-label="breadcrumb" style="padding: 10px;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/Homepage}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Search Results</li>
            </ol>
        </nav>
    </section>
    <div style="background-color: #343a40; padding: 30px 0;">
        <!-- Form Section -->
        <section class="container bg-dark text-light p-4" style="border-radius: 8px;">
            <form th:action="@{/ListView}" method="post" th:object="${booking}">
                <div class="form-group">
                    <label for="pickupLocation">PICK-UP LOCATION</label>
                    <input type="text" class="form-control" id="pickupLocation" placeholder="Enter your location"
                           th:field="*{driverInfo}">
                </div>
                <div class="form-group">
                    <label for="pickupDate">Pick-up Date and Time</label>
                    <div style="display: flex; gap: 10px;">
                        <div class="input-wrapper" style="flex: 1">
                            <input class="form-control" id="pickupDate" name="pickupDate" placeholder="DD/MM/YYYY"
                                   th:value="${pickupDate}" readonly required>
                            <i class='bx bx-calendar' style="font-size: 20px;"
                               onclick="$('#pickupDate').datepicker('show');"></i>
                        </div>
                        <div class="input-wrapper" style="flex: 1">
                            <input class="form-control" id="pickupTime" name="pickupTime" placeholder="HH:MM"
                                   th:value="${pickupTime}" readonly required>
                            <i class='bx bx-time' style="font-size: 20px;"
                               onclick="$('#pickupTime').timepicker('show');"></i>
                        </div>
                    </div>
                    <!-- Hidden input for startDateTime -->
                    <input type="hidden" th:field="*{startDateTime}" id="startDateTime">
                </div>

                <div class="form-group">
                    <label for="dropoffDate">Drop-off Date and Time</label>
                    <div style="display: flex; gap: 10px;">
                        <div class="input-wrapper" style="flex: 1">
                            <input class="form-control" id="dropoffDate" name="dropoffDate" placeholder="DD/MM/YYYY"
                                   th:value="${dropoffDate}" readonly required>
                            <i class='bx bx-calendar' style="font-size: 20px;"
                               onclick="$('#dropoffDate').datepicker('show');"></i>
                        </div>
                        <div class="input-wrapper" style="flex: 1">
                            <input class="form-control" id="dropoffTime" name="dropoffTime" placeholder="HH:MM"
                                   th:value="${dropoffTime}" readonly required>
                            <i class='bx bx-time' style="font-size: 20px;"
                               onclick="$('#dropoffTime').timepicker('show');"></i>
                        </div>
                    </div>
                    <!-- Hidden input for endDateTime -->
                    <input type="hidden" th:field="*{endDateTime}" id="endDateTime">
                    <!--       Check fields        -->
                    <div th:if="${#fields.hasErrors('endDateTime')}" class="text-danger">
                        <p th:errors="*{endDateTime}">Please enter drop-off date and time</p>
                    </div>
                    <div th:if="${#fields.hasErrors('endDateTime')}" class="text-danger">
                        <p th:if="${#fields.hasErrors('endDateTime')}" th:errors="*{endDateTime}">Drop-off date and time
                            must be later than pick-up date and time</p>
                    </div>
                </div>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary" style="width: 30%; margin-top: 20px"
                            onclick="combineDateTime()">SEARCH
                    </button>
                </div>
            </form>
        </section>
    </div>
    <<!-- Search Results Section -->
    <section class="container mt-4">
        <h2>Search Results</h2>
        <div class="d-flex justify-content-between align-items-center">
            <p class="mb-0" th:text="'There are ' + ${NumberOfCar} + ' cars that are available for you!'"></p>
            <div>
                <div class="d-flex">
                    <a th:href="@{/ThumbView}">
                        <i class='bx bxs-grid' style="font-size: 30px; color: black ; margin: 10px"></i>
                    </a>
                    <a th:href="@{/ListView}">
                        <i class='bx bx-list-ul' style="font-size: 30px; color: black; margin: 10px"></i>
                    </a>
                </div>
                <label for="sortOption">Sort by: </label>
                <select class="form-select" id="sortOption" name="sortOption"
                        style="padding: 10px; margin-left: 10px; margin-bottom: 20px">
                    <option value="newest" selected>Newest to Latest</option>
                    <option value="oldest">Oldest to Newest</option>
                    <option value="priceLowHigh">Price: Low to High</option>
                    <option value="priceHighLow">Price: High to Low</option>
                </select>
            </div>
        </div>
        <section class="container mt-6">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="table" style="background-color: #6c757d">
                    <tr>
                        <th scope="col" class="border border-dark">No</th>
                        <th scope="col" class="border border-dark">Name</th>
                        <th scope="col" class="border border-dark">Image</th>
                        <th scope="col" class="border border-dark">Ratings</th>
                        <th scope="col" class="border border-dark">No. of Rides</th>
                        <th scope="col" class="border border-dark">Price</th>
                        <th scope="col" class="border border-dark">Location</th>
                        <th scope="col" class="border border-dark">Status</th>
                        <th scope="col" class="border border-dark">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr scope="row" class="border border-dark" th:each="car, iterStat : ${cars}">
                        <td class="border border-dark" th:text="${car.id}">No</td>
                        <td class="border border-dark">
                            <span th:text="${car.name}"></span><br>
                            <span th:text="'- ' + ${car.brand} + ' - '"></span><br>
                            <span th:text="'- ' + ${car.model} + ' - '"></span>
                        </td>
                        <td class="border border-dark" th:text="${car.images}">Image</td>
                        <td class="border border-dark">
                            <div>
                        <span th:each="booking : ${car.bookings}"
                              th:if="${booking.feedback != null}"
                              class="fa fa-star star-rating"
                              th:classappend="${booking.feedback.ratings.toString() == 'RatingStar.one_star' ? ' checked' : ''}"
                              style="font-size: 18px"></span>

                                <span th:each="booking : ${car.bookings}"
                                      th:if="${booking.feedback != null}"
                                      class="fa fa-star star-rating"
                                      th:classappend="${booking.feedback.ratings.toString() == 'RatingStar.two_stars' ? ' checked' : ''}"
                                      style="font-size: 18px"></span>

                                <span th:each="booking : ${car.bookings}"
                                      th:if="${booking.feedback != null}"
                                      class="fa fa-star star-rating"
                                      th:classappend="${booking.feedback.ratings.toString() == 'RatingStar.three_stars' ? ' checked' : ''}"
                                      style="font-size: 18px"></span>

                                <span th:each="booking : ${car.bookings}"
                                      th:if="${booking.feedback != null}"
                                      class="fa fa-star star-rating"
                                      th:classappend="${booking.feedback.ratings.toString() == 'RatingStar.four_stars' ? ' checked' : ''}"
                                      style="font-size: 18px"></span>

                                <span th:each="booking : ${car.bookings}"
                                      th:if="${booking.feedback != null}"
                                      class="fa fa-star star-rating"
                                      th:classappend="${booking.feedback.ratings.toString() == 'RatingStar.five_stars' ? ' checked' : ''}"
                                      style="font-size: 18px"></span>
                            </div>
                            <div>
                        <span th:if="${car.bookings.size() == 0}"
                              class="no-ratings-text">(No ratings)</span>
                            </div>
                        </td>
                        <td class="border border-dark" th:text="${car.bookings.size()}">No. of Rides</td>
                        <td class="border border-dark" th:text="${car.basePrice} + 'K/day'">Price</td>
                        <td class="border border-dark"
                            th:if="${car.bookings.size() > 0}"
                            th:text="${car.bookings.get(0).driverInfo}">Location
                        </td>
                        <td class="border border-dark" th:text="${car.status}">Status</td>
                        <td class="border border-dark">
                            <div class="d-grid gap-2">
                                <a class="btn btn-primary btn-sm" style="margin-bottom: 10px" href="#">Rent now</a>
                                <a class="btn btn-primary btn-sm" th:href="@{/viewDetails(carId=${car.id})}">View details</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </section>
        <!--   Item per page    -->
        <form id="itemsPerPageForm" method="get" action="/ThumbView">
            <!-- Các input ẩn để lưu giá trị cần giữ lại -->
            <input type="hidden" id="hiddenDriverInfo" name="driverInfo" value="">
            <input type="hidden" id="hiddenPickupDate" name="pickupDate" value="">
            <input type="hidden" id="hiddenPickupTime" name="pickupTime" value="">
            <input type="hidden" id="hiddenDropoffDate" name="dropoffDate" value="">
            <input type="hidden" id="hiddenDropoffTime" name="dropoffTime" value="">

            <!-- UI thay đổi số lượng item hiển thị -->
            <div class="items-per-page">
                <button type="button" class="btn btn-secondary"
                        style="width: 3%; padding: 6px 12px 6px 12px; margin-left: 50px"
                        onclick="decreasePageSize()">-
                </button>
                <input id="itemsPerPage" name="size" class="form-control"
                       style="border: 1px solid black; padding: 10px; width: 5%"
                       min="1" max="15" th:value="${pageSize}" placeholder="1" readonly onchange="this.form.submit()"/>
                <button type="button" class="btn btn-secondary" style="width: 3%; padding: 6px 12px 6px 12px"
                        onclick="increasePageSize()">+
                </button>
                <label for="itemsPerPage" style="margin-left: 10px; margin-top: 12px">per page</label>
            </div>
        </form>

        <!-- Pagination -->
        <!--        <div class="row justify-content-center mt-2">-->
        <!--            <nav aria-label="Page navigation">-->
        <!--                <ul class="pagination justify-content-center">-->
        <!--                    &lt;!&ndash; Previous Page &ndash;&gt;-->
        <!--                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">-->
        <!--                        <a class="page-link" th:href="@{/ThumbView((page=${currentPage - 1})}" aria-label="Previous">-->
        <!--                            <span aria-hidden="true">Previous</span>-->
        <!--                        </a>-->
        <!--                    </li>-->

        <!--                    &lt;!&ndash; Page Numbers &ndash;&gt;-->
        <!--                    <li th:each="pageNum : ${pageNums}" th:classappend="${pageNum == currentPage} ? 'active'">-->
        <!--                        <a class="page-link" th:href="@{/ThumbView((page=${pageNum})}" th:text="${pageNum}"></a>-->
        <!--                    </li>-->

        <!--                    &lt;!&ndash; Next Page &ndash;&gt;-->
        <!--                    <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">-->
        <!--                        <a class="page-link" th:href="@{/ThumbView((page=${currentPage + 1})}" aria-label="Next">-->
        <!--                            <span aria-hidden="true">Next</span>-->
        <!--                        </a>-->
        <!--                    </li>-->
        <!--                </ul>-->
        <!--            </nav>-->
        <!--        </div>-->
    </section>
</main>

<!-- Include Footer Fragment -->
<div th:replace="fragments/fragment :: footer"></div>

<script>
    function increasePageSize() {
        var input = document.getElementById("itemsPerPage");
        var currentValue = parseInt(input.value || input.placeholder);
        if (currentValue < 15) {
            input.value = currentValue + 1;
            input.placeholder = currentValue + 1;
            storeFormData();
            document.getElementById("itemsPerPageForm").submit();
        }
    }

    function decreasePageSize() {
        var input = document.getElementById("itemsPerPage");
        var currentValue = parseInt(input.value || input.placeholder);
        if (currentValue > 1) {
            input.value = currentValue - 1;
            input.placeholder = currentValue - 1;
            storeFormData();
            document.getElementById("itemsPerPageForm").submit();
        }
    }

    // Hàm lưu giá trị của form hiện tại vào input ẩn
    function storeFormData() {
        document.getElementById('hiddenDriverInfo').value = document.getElementById('pickupLocation').value;
        document.getElementById('hiddenPickupDate').value = document.getElementById('pickupDate').value;
        document.getElementById('hiddenPickupTime').value = document.getElementById('pickupTime').value;
        document.getElementById('hiddenDropoffDate').value = document.getElementById('dropoffDate').value;
        document.getElementById('hiddenDropoffTime').value = document.getElementById('dropoffTime').value;
    }
</script>
<script>
    $(document).ready(function () {
        // Initialize datepickers
        $('#pickupDate').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true
        });

        $('#dropoffDate').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true
        });

        // Initialize timepickers
        $('#pickupTime').timepicker({
            timeFormat: 'HH:mm',
            interval: 30,
            minTime: '00:00',
            maxTime: '23:59',
            defaultTime: '00:00',
            startTime: '00:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });

        $('#dropoffTime').timepicker({
            timeFormat: 'HH:mm',
            interval: 30,
            minTime: '00:00',
            maxTime: '23:59',
            defaultTime: '00:00',
            startTime: '00:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });

        // Datepicker triggers
        $('.bx-calendar').on('click', function () {
            $(this).closest('.input-wrapper').find('input').datepicker('show');
        });

        // Timepicker triggers
        $('.bx-time').on('click', function () {
            $(this).closest('.input-wrapper').find('input').timepicker('show');
        });
    });

    // Combine date and time into LocalDateTime format before submitting
    function combineDateTime() {
        // Get pickup date and time
        var pickupDate = document.getElementById('pickupDate').value;
        var pickupTime = document.getElementById('pickupTime').value;

        // Format pickupDate to yyyy-MM-dd
        var formattedPickupDate = pickupDate.split('/').reverse().join('-'); // Converts DD/MM/YYYY to YYYY-MM-DD

        // Combine into startDateTime
        document.getElementById('startDateTime').value = formattedPickupDate + 'T' + pickupTime;

        // Get dropoff date and time
        var dropoffDate = document.getElementById('dropoffDate').value;
        var dropoffTime = document.getElementById('dropoffTime').value;

        // Format dropoffDate to yyyy-MM-dd
        var formattedDropoffDate = dropoffDate.split('/').reverse().join('-'); // Converts DD/MM/YYYY to YYYY-MM-DD

        // Combine into endDateTime
        document.getElementById('endDateTime').value = formattedDropoffDate + 'T' + dropoffTime;
    }
</script>
<script>
    const optionMenu = document.querySelector(".select-menu"),
        selectBtn = optionMenu.querySelector(".select-btn"),
        options = optionMenu.querySelectorAll(".option"),
        sBtn_text = optionMenu.querySelector(".sBtn-text");

    selectBtn.addEventListener("click", () => optionMenu.classList.toggle("active"));

    options.forEach(option => {
        option.addEventListener("click", () => {
            sBtn_text.innerText = option.querySelector(".option-text").innerText;

            // Change the page location based on the selected option
            let value = option.getAttribute("data-value");
            if (value) {
                location.href = value;
            }

            optionMenu.classList.remove("active");
        });
    });
</script>
<script>
    function setUpPage(pageNumber1) {
        document.querySelector('input[name="page"]').value = pageNumber1;
        document.querySelector('#frmSearch').submit();
    }

    options.forEach(option => {
        option.addEventListener("click", () => {
            sBtn_text.innerText = option.querySelector(".option-text").innerText;

            // Change the page location based on the selected option
            let value = option.getAttribute("data-value");
            if (value) {
                location.href = value;
            }

            optionMenu.classList.remove("active");
        });
    });
</script>
</body>
</html>
