<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{../css/fragment.css}">
    <link rel="stylesheet" th:href="@{../css/Car_Owner/Homepage_LoggedIn_CarOwner.css}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/2465434fef.js" crossorigin="anonymous"></script>
</head>
<body>
<!--Header fragment-->
<div th:replace="fragments/fragment :: header"></div>
<div class="container-fluid intro mt-1">
    <h2 class="intro-title mb-5">Have a car for rent? Don't miss out of your benefit</h2>
    <div class="row mb-5">
        <div class="col-sm-4">
            <p class="intro-section-title"><i class="fa-solid fa-dollar-sign"></i> How the insurance works</p>
            <span>
                From the minute you hand the keys over till the second you get them back you are covered. Your private insurance is not affected.
            </span>
        </div>
        <div class="col-sm-4">
            <p class="intro-section-title"><i class="fa-solid fa-shield-halved"></i> It's completely free</p>
            <span>
                We offer both owners and renters free sign ups. It’s only once a vehicle is rented out that a share is deducted to cover admin and insurance.
            </span>
        </div>
        <div class="col-sm-4">
            <p class="intro-section-title"><i class="fa-regular fa-circle-check"></i> You decide the price</p>
            <span>
                When you list a car you decide the price. We can help with recommendations as to price, but ultimately you decide!
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p class="intro-section-title"><i class="fa-solid fa-car"></i> Handing over your vehicle</p>
            <span>
                You arrange the time and location for the exchange of your vehicle with the renter. Both parties will need to agree and sign the vehicle rental sheet before and after key handover.
            </span>
        </div>
        <div class="col-sm-4">
            <p class="intro-section-title"><i class="fa-solid fa-triangle-exclamation"></i> You are in charge</p>
            <span>
                All renters are pre-screened by us to ensure safety and get your approval. If you do not feel comfortable with someone you are able to decline a booking.
            </span>
        </div>
        <div class="col-sm-4">
            <p class="intro-section-title"><i class="fa-regular fa-credit-card"></i> Set payment</p>
            <span>
                We pay you once a month and you can always view how much your car has earned under your user profile.
            </span>
        </div>
    </div>
</div>

<div class="container-fluid car-owner-nav">
    <h2 class="intro-title">Make money on your car right away</h2>
    <a th:href="@{car-owner/mycar/add}" class="btn btn-primary pl-5 pr-5 pt-3 pb-3 mt-4">List Your Car Today</a>
</div>

<!--Footer fragment-->
<div th:replace="fragments/fragment :: footer"></div>
<script th:src="@{/js/Car_Owner/fragment.js}"></script>
</body>
</html>