label {
    font-weight: bold;
}

span {
    font-weight: bold;
}

form > .form-group:nth-of-type(1) .form-control {
    display: inline-block;
}

form > .form-group:nth-of-type(2) .form-control {
    display: inline-block;
}

.form-group {
    margin-top: 32px;
}
.price {
    margin-left: 5%;
}

.price .deposit-base-price-container {
    display: flex;
    width: 50%;
    padding-left: 0;
}

.label-container {
    width: 60%;
}

.label-container > label {
    line-height: 38px;
}

.input-container {
    display: flex;
    width: 40%;
}

.base-price-input, .deposit-input {
    width: 60%;
}

.input-container > span {
    line-height: 38px;
    margin-left: 10px;
}

.form-check .form-check-label {
    font-weight: normal;
}

.price .row {
    padding-left: 5%;
}

.price .form-check-input {
    margin-left: -1.25rem;
}

.price .form-control {
    width: 100%;
}

@media (max-width: 1100px) {
    .price .label-container {
        width: 50%;
    }

    .price .input-container {
        width: 50%;
    }
}
